[run]
branch = True
source = shortscikit

[report]
exclude_lines =
    if .debug:
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    venv/*
    tests/*
    setup.py
    shortscikit/pipeline/__init__.py