[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
pywt = "*"
nose2 = "*"
gensim = "*"
fasttext = {git = "https://github.com/facebookresearch/fastText.git"}
pip = "*"
install = "*"
pywavelets = "*"

[dev-packages]

[requires]
python_version = "3.7"
