[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
gensim = "*"

[dev-packages]
nose2 = "*"
pyarrow = "*"
fasttext = {git = "https://github.com/facebookresearch/fastText.git"}
mecab-python-windows = {version = "*",sys_platform = "== 'win32'"}
mecab-python3 = {version = "*",markers = "sys_platform == 'linux' or sys_platform == 'darwin'"}
janome = "*"
pywavelets = "*"


[requires]
python_version = "3.7"
