[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
gensim = "*"
fasttext = {git = "https://github.com/facebookresearch/fastText.git"}
pywavelets = "*"

[dev-packages]
nose2 = "*"

[requires]
python_version = "3.7"
